%div#post-tweet
  %form{:method=>"POST",:action=>"/post"}
    %fieldset
      %label{:for=>"name"}<
        username
      %input{:type=>"text",:name=>"name", :class=>"input-block-level"}
      %label<
        tweet body
      %textarea{:name=>"message", :class=>"input-block-level"}
      %br
      %button{:type=>"submit", :class=>"btn btn-large btn-primary btn-block"}<
        Tweet!
%div#TimeLine
  %div#posts
    - @comments.each do |comment|
      %div.post{:class => "row-fluid"}
        %div.post-info{:class => "row-fluid"}
          %div.name{:class => "span3 muted"}== #{"@" + Rack::Utils.escape_html(comment.name)}
          %div.time{:class => "span2 pull-right muted small"}== #{comment.posteddate.strftime("%Y/%m/%d %H:%M:%S")}
        %div.message
          %p== #{Rack::Utils.escape_html(comment.message).gsub(/(\r\n|\r|\r)/,'<br/>')}
        %hr
