!!!5
%html
  %head
    %title Hello.
    %meta{:"http-equiv"=>"Content-Type",:content=>"text/html",:charset=>"utf-8"}
    %link{:rel=>"stylesheet",:type=>"text/css",:href=>"css/bootstrap.min.css"}
    %link{:rel=>"stylesheet",:type=>"text/css",:href=>"css/bootstrap-responsive.min.css"}
    %link{:rel=>"stylesheet",:type=>"text/css",:href=>"css/index.css"}
    %title Tsubotter
  %body
    .container
      %h1 Tsubotter
      != yield
